[Unit]
Description=Modbus vcom service

[Service]
Type=simple
WorkingDirectory=/kitty/IOT/KittyModbus/sbin
ExecStart=/kitty/IOT/KittyModbus/sbin/com.sh
Restart=on-failure
RestartSec=2
User=kot
Group=kot
[Install]
WantedBy=multi-user.target
